/*
name:srttorres-bluegreen-2018;
*/



html { 
	background-color:#048946;
	/*background: linear-gradient(to top, #048946, #006633) no-repeat;*/
	font-size:medium; 
	color:white;
}
h1{
	font-size:medium;
	text-align:center;
}
h2{
	font-size:small;
	text-align:left;
}
div{
	margin: 0em 2em 2em 2em;
	font-size:medium;
	align-items: center;
}

header {
  color:grey;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
footer {
  color:grey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.container{
  background-color:#006633;
  color: white;
  position: absolute;
  top: 2.5em;
  right: 0;
  left: 0;
  padding: 0em 10em 5em 10em;
  margin: 0em 0em 0em 0em;
}
.seccion-primera{
  top: 2.5em;
}
.seccion-segunda{
  top: 12.5em;
}
.seccion-tercera{
  top: 23em;
}